.div1{
    padding-bottom: 7%;
    margin-top: 6.5%;
    margin-bottom: -2%;
    background-color: #fafafa;
    border-radius: 18px;
    box-sizing: border-box;
    position: absolute;
    left: 22%;
    right: 22%;
    top: 1%;
    bottom: 13%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnpedidos{
    width: 250px;
    height: 35px;
    margin-left: 2.5%;
    border-radius: 20px;
    background-color: #003669;
    color: #fafafa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-size: 130%;
    font-weight: bold;
    margin-top: 32%;
}

.btneditar{
    width: 120px;
    height: 35px;
    margin-left: 8%;
    border-radius: 20px;
    background-color: #003669;
    color: #fafafa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-size: 130%;
    font-weight: bold;
    margin-top: 30%;
}

.btnexcluir{
    width: 120px;
    height: 35px;
    margin-left: 1%;
    border-radius: 20px;
    background-color: #003669;
    color: #fafafa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-size: 130%;
    font-weight: bold;
    margin-top: 30%;
}

.btnsalvar{
    width: 120px;
    height: 35px;
    margin-left: 1%;
    border-radius: 20px;
    background-color: #003669;
    color: #fafafa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-size: 130%;
    font-weight: bold;
    margin-top: 30%;
}

.nome{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 6%;
}

.caixanome{
    margin-top: -4%;
    margin-left: 5%;
    width: 30%;
    height: 7%;
    border-radius: 10px;
    outline: none;
}

.cpf{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 50%;
    margin-top: -7%;
}

.caixacpf{
    margin-top: -4.3%;
    margin-left: 50%;
    width: 30%;
    height: 7%;
    border-radius: 10px;
    outline: none;
}

.email{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5%;
}

.caixaemail{
    margin-top: -4%;
    margin-left: 5%;
    width: 30%;
    height: 7%;
    border-radius: 10px;
    outline: none;
}

.senha{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 50%;
    margin-top: -7%;
}

.caixasenha{
    margin-top: -4.3%;
    margin-left: 50%;
    width: 30%;
    height: 7%;
    border-radius: 10px;
    outline: none;
}